.category-filter{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-top:35px;
}

.category-filter button{
    padding:10px 20px;
    border-radius:30px;
    background:#111827;
    color:#cbd5e1;
    border:1px solid rgba(255,255,255,.08);
}

.category-filter button:hover{
    background:#38bdf8;
    color:#fff;
}

.category-filter .active{
    background:#38bdf8;
    color:white;
}