.hero{
    text-align:center;
    padding:100px 20px 70px;
}

.hero-content{
    max-width:850px;
    margin:auto;
}

.hero-badge{
    display:inline-block;
    padding:8px 18px;
    border-radius:30px;
    background:#18233d;
    color:#38bdf8;
    margin-bottom:25px;
}

.hero h1{
    font-size:60px;
    line-height:1.2;
    margin-bottom:25px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}